%ul
  - most_viewed_questions.each do |question|
    %li.center-justified 
      %span.avatar
        = image_tag question.askable.avatar.url(:thumb), alt: t('common.image.alt'), class: 'img-circle user-small-thumb-img'
      = link_to  question.title, question_path(question), 'data-no-turbolink' => true
