= render :partial => "layouts/sub_heading", :locals => {:object => 'All Questions'}
= render :partial => "questions_filter_links"
-if !(@questions.nil?)
  = render :partial => 'questions_list', :locals => { questions: @questions}
  .row.paginations.home
    .col-md-12
      =paginate @questions
-else
  No Questions Available
