-if current_user.nil?
  .row
  .spacer65
  .col-xs-12.text-center
    = link_to  t('common.btn.student'), new_student_registration_path, class: 'btn btn-primary btn-lg', 'data-no-turbolink' => true

    = link_to  t('common.btn.teacher'), new_teacher_registration_path, class: "btn btn-primary btn-lg",'data-no-turbolink' => true

    = link_to  t('common.btn.administrator'), new_administrator_session_path, class: "btn btn-primary btn-lg",'data-no-turbolink' => true