-if current_teacher.nil? && current_student.nil?
  %div.row
  %div.col-lg-4
  %div.row
  %div.col-lg-6
    = link_to  t('teacher.btn.student'), new_student_registration_path, class: "btn btn-primary btn-lg"
    
    = link_to  t('student.btn.teacher'), new_teacher_registration_path, class: "btn btn-primary btn-lg"