- if !(@teacher.questions.blank?)
  = render partial: 'questions/questions_list', locals: {questions: @questions}
- else
  .col-md-3
  .col-md-6
    .spacer25
    %h3
      -if !(current_user == @teacher)
        = @teacher.username
        = t('questions.captions.teacher_asks_no_questions')
      - else
        = t('questions.captions.no_questions_asked_by_user')