.raw
  .col-md-10
    %p= raw(c.comment)
    %hr/
  .col-md-2
    - if c.is_author?(current_user)
    =link_to '',edit_question_comment_path(@question.id,c.id),rel: 'tooltip', title: t('common.links.edit'),class: 'edit-comment fa fa-pencil','data-no-turbolink' => true
    |
    =link_to '',question_comment_path(@question.id,c),method: :delete, data: {confirm: t('common.links.delete.confirm')}, rel: 'tooltip', title: t('common.links.delete_link'), class: 'delete-comment fa fa-trash-o'