.row.select-category
  .col-md-1
  .col-md-8.col-xs-8
    %h4
      = (@answer.question.title)
.row.select-category
  .col-md-1
  .col-md-8.col-xs-8
    %h4
      = raw(@answer.content)
= render partial: 'form', locals: {type: 'edit',object: @answer} 
= render partial:'show_comments_of_answers', locals: {answer: @answer}