%h3
  = (@answer.question.title)
%hr/

%h4
  = raw(@answer.content)
= render partial: 'form', locals: {type: 'edit',object: @answer} 
= render partial:'show_comments_of_answers', locals: {answer: @answer}