.col-md-10.col-xs-6
  %p= raw(c.comment)
  %hr/
.col-md-2
  - if c.is_author?(current_user)
    =link_to '',edit_question_comment_path(question.id,c.id),rel: 'tooltip',title: 'Edit',class: 'edit-comment fa fa-pencil','data-no-turbolink' => true
    |
    =link_to '',question_comment_path(question.id,c.id),method: :delete,data: {confirm: "are you sure?"},remote: true,rel: 'tooltip',title: 'Delete',class: 'delete-comment fa fa-trash-o'
