-@comments.each do |c|
  %div.row
    .col-lg-1
    .col-lg-8
      = c.comment
      - if c.is_author?(current_user)
        =link_to 'Edit',edit_question_comment_path(@question.id,c.id)
        |
        = link_to 'Delete',question_comment_path(@question.id,c),method: :delete,data: {confirm: "are you sure?"}
      %hr/  