%h4.comment-lable Comments :
.row.comment-line{id: "answer_comment#{answer.id}"}
  = render partial: 'comments/answer_comments', collection: @answer_comments, as: :answer_comment, locals: {answer: answer }