.container-fluid
  .row
    #header_sidebar.col-md-12.col-xs-12
    = render 'layouts/left_sidebar'
    .col-md-8.main-content.single-content
      .row.select-category.single-head
        .col-md-8.col-xs-8
          %h3 Edit Comment of Question
      .modal-submit-questions
        .modal-dialog
        - if @question.present?
          = render 'edit_comment_of_question'    
        -else
          = render 'edit_comment_of_answer'
    = render 'layouts/right_sidebar'