%div.page-header
  %h2 Registration
.row
  .col-xs-12
    %ul.nav.nav-pills
      %li.active
        %a{"data-toggle" => "tab", href: "#operator"} Operator
      %li
        %a{"data-toggle" => "tab", href: "#teacher"} Teacher
    #content.tab-content
      #operator.tab-pane.active
        %ul
          %li home
          %li home
          %li home
          %li home
          %li home
          %li home
          %li home
      #teacher.tab-pane
        %ul
          %li profile
          %li profile
          %li profile
          %li profile
          %li profile
          %li profile
          %li profile
      #messages.tab-pane