- @badges.each do |badge|
  .border
    .col-md-3.question-cat
      %span.user-badge
        = badge.name    
      %br
        %span.points-count
          = badge.points
        %span.star
          %i.fa.fa-star
          %br
            points require
    .col-md-4
      %span With you can do:
      %p
        %i.fa.fa-ban
        Edit other people's questions
      %p
        %i.fa.fa-check
        Vote to close, reopen, or migrate questions
    .col-md-3
      %p
        %i.fa.fa-ban
        Edit other people's answers
      %p
        %i.fa.fa-check
        Vote down (costs 1 point on answers)
    .col-md-2
      %p
        %i.fa.fa-check
        Leave comments
      %p
        %i.fa.fa-check
        Vote up