= render :partial => "layouts/sub_heading", :locals => {:object => 'Badges'}
.row.points-system
  .col-md-12
    %h3 Points System
    %p You earn reputation when people vote on your posts
  .clearfix
  %ul.points-define
    %li.col-md-3
      %div
        %span.points-count
          +2
        %span.star
          %i.fa.fa-star
          %br
            create a question
    %li.col-md-3
      %div
        %span.points-count
          +5
        %span.star
          %i.fa.fa-star
          %br
            question is voted up
    %li.col-md-3
      %div
        %span.points-count
          +5
        %span.star
          %i.fa.fa-star
          %br
            answer is voted up
    %li.col-md-3
      %div
        %span.points-count
          +15
        %span.star
          %i.fa.fa-star
          %br
            answer is accepted
.row.badges-system
  .col-md-12
    %h3 Badges System
    %p You earn reputation when people vote on your posts
  .col-md-12.badge-content
    = render 'badge_list'  

