%div
  = form_for (@answer) do |f|
    =f.label :Your_answer
    =f.text_area :content

    = f.hidden_field :user_id, :value => current_user.id
    = f.hidden_field :question_id, :value => params[:question_id]
    
    =f.submit 