.row.select-category
  .col-md-6.col-xs-6.current-category
    %span
      = t('tag.header.title')
  .col-md-6.col-xs-6.current-category    
    %span
      - if (administrator_signed_in?)
        = link_to t('common.links.add_tag'), new_tag_path,'data-no-turbolink' => true, class: 'fa fa-plus btn btn-success  pull-right'
.main-tag-list
  .wrap-tag-list   
    %ul.raw.tag-list
      - @tags.each do |tag|
        = render partial: "tag_links", :locals => {:tag => tag}
.clearfix
  .main-tag-list
    .row.paginations.home
      .col-md-12.col-xs-12.tag-pagination
        .spacer20
      	= render partial: 'shared/pagination', locals: { object: @tags}
    
