.row.select-category
  .col-md-6.col-xs-6.current-category
    %span
      Tags
  .col-md-6.col-xs-6.current-category    
    %span
      - if (administrator_signed_in?)
        = link_to ' Add Tag', new_tag_path,'data-no-turbolink' => true, class: 'btn btn-success pull-right'
.main-tag-list
  .tags-list
    .wrap-tag-list
      .clearfix
      .question-cat
        %ul.question-tags
          - @tags.each do |tag|
            = render :partial => "tag_links", :locals => {:tag => tag}
.clearfix
  .main-tag-list
    .row.paginations.home
      .col-md-12.col-xs-12.tag-pagination
        .spacer20
        =paginate @tags  
    
