body {
  padding-top: 50px;
}

// =========Helpers for vertical spacing
.spacer5 { height: 5px; }
.spacer10 { height: 10px; }
.spacer15 { height: 15px; }
.spacer20 { height: 20px; }
.spacer25 { height: 25px; }
.spacer30 { height: 30px; }

.spacer-width {
  width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block;
}
