- if @active_tab
  $('.reports').html("#{escape_javascript(render('other_reports'))}")
  $('.display_other_reports').hide();
- elsif @report_name
  $('.display_other_reports').show();
  $('.display_other_reports').html("#{escape_javascript(render('display_other_reports'))}")
- else
  $('.display_other_reports').hide();
  $('.reports').html("#{escape_javascript(render('class_activeness_and_used_tags'))}")
$.unblockUI();
