.col-md-8.main-content
  .row
    .col-md-6
      .spacer30
      .table-responsive
        %table.table.table-bordered.table-striped
          %thead
            %tr.success
              %th.text-center Student name
              %th.text-center Total Answers
          %tbody
            - @students_answers_compare_table.each do |row|
              %tr
                - row.each do |column|
                  %td
                    = column
    .col-md-6    
      #chart
        = render_chart(@students_answers_compare_chart, 'chart') 
        