.col-md-8.main-content
  .row
    .col-md-6
      .spacer30
      .table-responsive
        %table.table.table-bordered.table-striped
          %thead
            %tr.success
              %th.text-center Tag 
              %th.text-center Tags Usage Count
          %tbody
            - @student_top3_weakness.each do |row|
              %tr.text-center
                - row.each do |column|
                  %td
                    = column
    .col-md-6    
      #chart
        = render_chart(@student_top3_weakness_chart, 'chart') 