%footer.navbar-fixed-bottom.navbar-inverse{:role => "navigation"}
  %ul.nav.nav-pills.pull-right
    %li
      %a{:href => "#"} Home
    %li
      %a{:href => "#"} Profile
    %li
      %a{:href => "#"} Messages
  