.col-md-2.disable-mobile.left-sidebar
  .widget.widget-btn
    = link_to  t('questions.btn.new_question'), new_question_path,method: :get, class:" btn btn-primary pull-left", style: 'color: #FFFFFF !important;'  
  .widget.widget-menus
    .menu-left-menu-container
      %ul#menu-left-menu-1.menu
        %li.fa-question-circle.menu-item.menu-item-type-custom.menu-item-object-custom.current-menu-item.menu-item-1765
          %a{:href => "/questions"}
            %i.fa.fa-question-circle>
            Questions
        %li.fa-tags.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-183
          %a{:href => "/questions/tags"}
            %i.fa.fa-tags>
            Tags
        %li.fa-users.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-1743
          %a{:href => "/members"}
            %i.fa.fa-users>
            Users
  