
= render :partial => "layouts/sub_heading", :locals => {:object => "Welcome, #{@teacher.username}"}
.row
  .col-md-9.col-md-push-3 
    =@teacher.first_name
    =@teacher.last_name 
   
  .col-md-3.col-md-pull-9 
    %b Name 
  
  .col-md-9.col-md-push-3 
    %br
      =@teacher.qualification
  .col-md-3.col-md-pull-9
    %br/
    %b Qualification
  
  .col-md-9.col-md-push-3
    %br/
    =@teacher.username
  .col-md-3.col-md-pull-9  
    %br/
    %b Username

  .col-md-9.col-md-push-3
    %br/
    =@teacher.email 
  .col-md-3.col-md-pull-9
    %br/
    %b Email