.row.select-category
%ul#main_users_list.row
  - teachers.each do |teacher|
    %li.user-item.col-md-5.col-xs-6
      %span.user-avatar
        = image_tag "#{set_user_image(teacher.avatar.path)}", alt: t('common.image.alt'), class: 'img-circle user-thumb-img' 
      .left-info
        %span.display_name 
          = link_to teacher.username,  teacher_views_profile_path(teacher,active_tab: 'basicinfo')
        %br/
        / %span.location
        /   = teacher.email
        .question-cat
          %span.user-badge{:style => "background-color:#780978;", :title => "1543"} teacher.type
.row.paginations.home
  .col-md-12
    .question-item.answer-pagination
      = render partial: "shared/pagination", locals: {object: teachers}
