.row.select-category
%ul#main_users_list.row
  - teachers.each do |teacher|
    %li.user-item.col-md-5.col-xs-6
      %span.user-avatar
        = image_tag teacher.avatar.url(:medium), alt: 'Image', class: 'img-circle user-thumb-img'
      .left-info
        %span.display_name 
          = link_to teacher.username.titleize,  teacher_views_profile_path(teacher,user: "Teacher")
        %br/
        / %span.location
        /   = teacher.email
        .question-cat
          %span.user-badge{:style => "background-color:#780978;", :title => "1543"} teacher.type
%hr/
.row.paginations.home
  .col-md-12
    .question-item.answer-pagination
      = render partial: "shared/pagination", locals: {object: teachers}
