= render partial: 'student_member', locals: {object: @students}
= render partial: 'teacher_member', locals: {object: @teachers}
.row.paginations.home
  .col-md-12
    = render :partial => "shared/pagination", :locals => {:object => @students}
