- question_list = bookmark_question_ids @student
- if !(question_list.blank?)
  = render :partial => 'questions/questions_list', :locals => { questions: question_list}
- else
  .col-md-3
  .col-md-6
    .spacer25
    %h3
      = t('questions.captions.no_questions_bookmarked')