.container-fluid
  .row
  / END HEADER
  #header_sidebar.col-md-12.col-xs-12
  = render 'layouts/left_sidebar'
  .col-md-8.main-content
    = render :partial => "layouts/sub_heading", :locals => {:object => 'Update Profile'}
    =render 'form'
  = render 'layouts/right_sidebar' 