= render :partial => "layouts/sub_heading", :locals => {:object => 'All Questions'}
= render :partial => "questions/questions_filter_links"
= render :partial => 'questions/questions_list', :locals => { questions: @questions}
= render partial: 'shared/pagination', locals: { object: @questions}